@import '../../styles/mixins';

.nav {
  height: 100%;
  width: 50px;
  position: fixed;
  background-color: rgba(148, 117, 117, 0.5);
}
.menu {
  display: flex;
  
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  &__item {
    @include link;
    width: 100%;
    display: flex;
    display: none;
    background-color: rgba(112, 8, 8, 0.5);
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
  }
}

