.container {
  padding: 80px 100px;
  display: flex;
  height: calc(100% - 150px);
}

.aside {
  min-width: 25%;
  // height: calc(100% - 180px);
  &__item {
    margin: 10px 0;
    width: 100%;
  }
}

.editBlock {
  min-width: 75%;
  margin-left: 30px !important;
  padding-top: 15px;
  &__addnewButton {
    margin: 0 auto !important;
    display: block !important;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 60px 20px;
    height: calc(100% - 150px);
    max-height: 100vh;
  }
  .aside,
  .editBlock {
    min-width: 50%;
  }
  .aside {
    padding-right: 20px;
    &__item {
      font-size: 14px !important;
    }
  }
  .editBlock {
    margin-left: 0 !important;
    overflow-y: auto;
    padding-right: 10px;

    &__addnewButton {
      font-size: 11px !important;
    }
  }
}
