@import '../../styles/mixins';

.footer {
  height: 150px;
  display: flex;
  border-top: 1px solid $content;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 100px;
  &__link {
    @include link;
    font-size: 10px;
  }
  &__title {
    @include boldText;
    margin: 20px 0;
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 40px;
    flex-direction: column;
    height: auto;
  }
}
