@import '../../styles/_mixins';

.post {
  width: 100%;
  display: flex;
}

.image {
  width: 70%;
}

.title {
  width: 30%;
  padding: 20px 40px;
  @include link;
}

@media screen and (max-width: 768px) {
  .post {
    flex-direction: column;
  }

  .image, .title {
    width: 100%;
  }
}