@import '../../styles/mixins';

.section {
  padding-top: 62px;
}

.wraper {
  border-bottom: 1px solid $content;
  display: flex;
}

.title {
  @include boldText;
  font-size: 25px;
  margin: 20px 100px;
}

.mainContent {
  width: 35%;
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

.addContent {
  width: 30%;
  border-right: 1px solid $content;
  border-left: 1px solid $content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, transparent 50%, $content 50%, transparent 51%);
  background-repeat: no-repeat;
}

.itemContent {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.delivery {
  @include boldText;
  font-size: 13px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  &__text {
    border-bottom: 1px solid $content;
    padding: 15px 0 7px;
    display: block;
    background-color: $fond;
    &__middle {
      background-color: $fond;
      border-bottom: 1px solid $content;
      padding: 15px 0 7px;
      display: flex;
      flex-direction: column;
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .itemContent {
    padding: 0 40px;
  }

  .title {
    margin: 10px 40px;
    font-size: 16px;
  }
  
  .delivery {
    &__text {
      font-size: 10px;
      &__middle {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 100px;
  }
}