@import '../../styles/_mixins';

.header {
  border-bottom: 1px solid $content;
  border-top: 1px solid $content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  position: fixed;
  background-color: $fond;
  width: 100%;
}

.logo {
  margin: 0;
  margin-left: 100px;
}

.controls {
  display: flex;
  align-items: center;
  margin-right: 100px;
  &__item {
    @include link;
    margin: 0 20px;
    &__search {
      margin-right: -15px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  &__item {
    @include link;
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    display: block;
  }

  .header {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .controls {
    margin-right: 40px;
  }

  .logo {
    margin-left: 40px;
  }

  .nav {
    display: block;
  }
}