@import './_variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $fond;
}

#root,
main {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .MuiOutlinedInput-input {
    padding: 5px !important;
  }

  .MuiInputLabel-formControl {
    top: -13px;
    left: -8px;
  }
}